.mainMenu{
    background: white;
    height: 100vh;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);

}

.infoSection{
    padding: 20vh 2vw 2vw 2vw;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.nameAndSurname{
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 2vh;
}

.yourEmailAdress{
    font-weight: 200;
    font-size: 1vw;
}

.yourPosition{
    font-weight: 200;
    font-size: 1vw;
}

.section{
    width: 100%;
    background: rgba(0,0,0,0.1);
    margin: 0.5vh 0;
    display: flex;
    justify-content: space-evenly;

    border-top: 2px solid rgba(0,0,0,0.05);
    border-bottom: 2px solid rgba(0,0,0,0.05);
}


.section > .title{
    margin: auto 0;
    font-size: 2.5vh;
}

.section > .icon{
    width: 20%;
    max-width: 8vh;
}

.section:hover{
    background: rgba(30,144,255,0.2)
}
