.mainMenu{
    background: white;
    height: 100vh;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);

}

.infoSection{
    padding: 20vh 2vw 2vw 2vw;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.nameAndSurname{
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 2vh;
}

.yourEmailAdress{
    font-weight: 200;
    font-size: 1vw;
}

.yourPosition{
    font-weight: 200;
    font-size: 1vw;
}