.mainName{
    font-size: 60px;
    font-weight: lighter;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form{
    margin-top: calc(35vh - 60px - 5.5vh);
}

input{
    height: 5vh;
    padding: 0.5vh;
}

form > .inputs{
    margin-left: auto;
    margin-right: auto;

    width: 50vw;
    display: flex;
    justify-content: space-between;
}

form > .inputs > input{
    width: 20.5vw;
    border: none;
    padding: 0.5vh 2vw;
}

form > .button{
    width: 50vw;
    margin-top: 1vw;

    margin-left: auto;
    margin-right: auto;
}

form > .button > input{
    width: 100%;
    border: none;
    border-radius: 2.5vh;
    padding: 0.5vh 2vw;

    background: dodgerblue;
    color: white;
}

#screenPage{
    grid-template-columns: 10vw 80vw 10vw;
}
