#screenPage{
    background-image: url(/static/images/botanical-cactus-close-up-decor-305821.jpg);
}

.mainName{
    font-size: 60px;
    font-weight: lighter;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form{
    margin-top: calc(35vh - 60px - 5.5vh);
}

input{
    height: 5vh;
    padding: 0.5vh;
}

form > .inputs{
    margin-left: auto;
    margin-right: auto;

    width: 40vw;
    display: flex;
    justify-content: space-between;
}

form > .inputs > input{
    width: 17.5vw;
    border: none;
    padding: 0.5vh 1vw;
    border-radius: 0.25vw;
}

form > .button{
    width: 40vw;
    margin-top: 1vw;

    margin-left: auto;
    margin-right: auto;
}

form > .button > input{
    width: 100%;
    height: 6vh;
    border: none;
    border-radius: 2.5vh;
    padding: 0.5vh 2vw;

    background: dodgerblue;
    color: white;
}

#screenPage{
    grid-template-columns: 10vw 80vw 10vw;
}



.wrongCredentials{
    margin: 3vh auto 0 auto;

    border-radius: 2.5vh;
    border: none;
    width: 40vw;

    background-color: #A4303F;
    color: white;

    text-align: center;
    padding: 2vh 0;
}