<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dziennik Elektroniczny - {% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/main.css')}}">
    {% block head %}{% endblock %}
</head>
<body>

    <div id="screenPage" style="background: {{url_for('static', filename='images/botanical-cactus-close-up-decor-305821.jpg')}}">
        <div id="sectionLeft">
            {% block left %}
            {% endblock %}
        </div>
        <div id="sectionMiddle">
            {% block middle %}
            {% endblock %}
        </div>
        <div id="sectionRight">
            {% block right %}
            {% endblock %}
        </div>

    </div>


</body>
</html>