{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/loggedIn.css')}}">
    {% block innerHead %}
    {% endblock %}
{% endblock %}}


{% block left %}
<div class="mainMenu">
    <div class="infoSection">
        <div class="nameAndSurname">{{ session["imie"].capitalize() }} {{ session["nazwisko"].capitalize() }} </div>
        <div class="yourEmailAdress">{{ session["email"] }}</div>
        <div class="yourPosition">{{ session["rola"].capitalize() }}</div>
    </div>

    <div class="section">
        <img class="icon">
        <div class="title"></div>
    </div>



</div>
{% endblock %}