{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/loggedIn.css')}}">
    {% block innerHead %}
    {% endblock %}
{% endblock %}}


{% block left %}
<div class="mainMenu">
    <div class="infoSection">
        <div class="nameAndSurname">{{ session["imie"].capitalize() }} {{ session["nazwisko"].capitalize() }} </div>
        <div class="yourEmailAdress">{{ session["email"] }}</div>
        <div class="yourPosition">{{ session["rola"].capitalize() }}</div>
    </div>

    {% for x in session["sections"] %}

        <div class="section">
            <img class="icon" src="{{ url_for('static', filename=x["icon"][0]) }}">
            <div class="title">
                {{ x["displayName"] }}
            </div>
        </div>
    {% endfor %}


</div>
{% endblock %}