{% extends "base.html" %}
{% block title%}Logowanie{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/loginPage.css')}}">
{% endblock %}}

{% block middle %}
<div class="container1">
    <div class="mainName">Dziennik Elektroniczny</div>

    <form action="#" method="post">
        <div class="inputs">
            <input type="text" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Hasło">

        </div>
        <div class="button">
            <input type="submit" value="Zaloguj" disabled>
        </div>

        {% if wrongPassword == True %}
            <div class="wrongCredentials">
                To konto nie istnieje lub podano błędne hasło.
            </div>
        {% endif %}

    </form>
</div>

<script>
    document.addEventListener("keydown", event=>{
        if (document.getElementsByTagName("input")[0].value.length >= 3  &&  document.getElementsByTagName("input")[1].value.length >= 3){
            document.getElementsByTagName("input")[2].disabled = false
        }
        else{
            document.getElementsByTagName("input")[2].disabled = true
        }
    })
</script>

{% endblock %}
